version: "3.8"
services:

  # Consul for Service Discovery
  # consul:
  #   image: consul:latest
  #   command: "agent -server -ui -node=server-1 -bootstrap-expect=1 -client 0.0.0.0"
  #   ports:
  #     - '8300:8300'
  #     - '8301:8301'
  #     - '8301:8301/udp'
  #     - '8500:8500'
  #     - '8600:8600'
  #     - '8600:8600/udp'

  activemq-artemis:
    image: vromero/activemq-artemis
    ports:
      - '8161:8161'
      - '61616:61616'
    environment:
      - 'ARTEMIS_USERNAME=admin'
      - 'ARTEMIS_PASSWORD=admin'

  stream-management-service:
    image: docker.io/library/stream-management-service:0.0.1-SNAPSHOT
    ports:
      - '8080:8080'
    depends_on:
      - activemq-artemis

  twitter-streaming-service:
    image: docker.io/library/twitter-streaming-service:0.0.1-SNAPSHOT
    depends_on:
      - activemq-artemis

  image-preprocessing-service:
    image: docker.io/library/image-preprocessing-service:0.0.1-SNAPSHOT
    depends_on:
      - activemq-artemis

  image-analyzer-service:
    image: docker.io/library/image-analyzer-service:0.0.1-SNAPSHOT
    depends_on:
      - activemq-artemis

  database-adapter-service:
    image: docker.io/library/database-adapter-service:0.0.1-SNAPSHOT
    depends_on:
      - activemq-artemis